<!-- PRIMARY PAGE LAYOUT USING HANDLEBARS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container">
  <div class="header">
    <div class="row">

      <h5>REGISTRATION NUMBERS <span> CAPE TOWN</span></h5>
      {{!-- <i class="fas fa-car"></i> --}}
    </div>
  </div>
  <div class="registration">
    <div class="row">
      <div class="twelve columns" style="margin-top: 5%">
        <form class="" action="/reg_number" method="post">
          <span>Registration Number:<input type="text" class="inputTxt" name='inputTxt'>
            <button type="submit" class="button-primary add" name='button'>add</button>
            <a href="/delete" class="reset">reset <i class="fas fa-trash"></i></a>
          </span>
      </div>
    </div>
  </div>
  </form>

  <div class="message" style="color: #c0392b; font-size: 16px; font-weight: 300; text-align: center; margin-bottom: 10px">
    <div class="row">
      <div class="twelve columns error">
        {{#if messages.error}}
        <h6> {{messages.error}} </h6>
        {{/if}}
      </div>
      <div class="success">
        {{#if messages.success}}
        <h6> {{messages.success}} </h6>
        {{/if }}

      </div>
    </div>
  </div>
  <br>
  <form action="/selectedTowns" method="post">
    <div class="dropDown">
      <p>FILTER BY TOWN..!</p>
      <select onchange="submit()" class="town" name="townNames">
        <option> Select A Town </option>
        <option name='townNames' value="allTown"> all Towns</option>
        {{#each selectedTown}}
        <option value="{{town_code}}" name='townNames' {{selected}}>{{town_names}} </option>
        {{/each}}
      </select>
    </div>
  </form>
  <br>
  <h6>DISPLAY REGISTRATION NUMBERS:</h6>

  <div class="row">
    <div class="twelve columns">
      <div class="display">
        <ul>
          {{#each display}}
          <li>{{registration_plates}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End Document –––––––––––––––––––––––––––––––––––––––––––––––––– -->